div.mainmenu.syndic {
      background-image: url('../img/object_syndic.png');
}
 div.fiche {
        margin-right: 0; 
    }

div.pagination li.pagination a.inactive {
     cursor: default;
     color: #ccc;
     pointer-events: none;
 }
.selectpicker .clear {
  padding : 0 ;
}